* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #69bce9;
    width: 900px;
    height: auto;

    margin: 0 auto;
    position: relative;
}

.border {
    border: 1px solid red;
}

.border-green {
    border: 2px solid green;
}

header {
    width: 100%;
    height: 60px;

    margin: 10px 0 10px 0;

    display: flex;
}

.logo {
    height: 60px;
    width: 40%;
}

.logo img {
    height: 100%;
}

nav {
    width: 60%;
    position: relative;
}


header ul {
    list-style: none;
    display: inline-flex;
    text-align: center;

    line-height: 60px;
    float: right;
}

header ul li {
    margin-right: 20px;
    color: #fff;
}

header ul li a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

header ul li a:hover {
    color: deeppink;
}

.cart {
    position: relative;
    top: 8px;
    text-decoration: none;
    display: inline-block;

    width: 30px;
    height: 30px;

    color: #fff;
}

.cart:visited {
    color: #fff;
}

.cart:hover {
    color: deeppink;
}

main {
    margin-top: 100px;
    text-align: center;
}

.h1 {
    margin-bottom: 20px;
    color: #fff;
}

.p {
    margin-bottom: 20px;
    color: #fff;
}

.btn {
    width: 160px;
    height: 60px;
    border-radius: 10px;
    border: none;

    text-decoration: none;
    color: #0c425e;
    font-size: 20px;
    text-transform: uppercase;
}
.btn:hover {
    background-color: gold;
    color: #fff;
}

.my-github {
    margin-top: 80px;
}

.my-linkedin {
    margin-top: 80px;
}

/* ################################################################ */
/* Ecommerce */
.main-title {
    margin-top: 100px;
    text-align: center;
    color: #fff;
}
.ecommerce-produtos {
    max-width: 100%;
    height: 100vh;

    display: flex;
}

.ecommerce-produtos ul {
    max-width: 900px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.ecommerce-produtos ul li {
    width: 263px;
    height: 386px;

    list-style: none;
    margin-right: 37px;
}
.container {
    width: 263px;
    height: 386px;
  
    background: #ffffff;
  
    /* position: absolute; */
  
    box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.25);
    border-radius: 16px 50px 16px 16px;;
}

.sneakers {
    height: 321px;
    bottom: 105px;

    position: relative;
}

#blue_green {
    bottom: 75px;
}
#purple_s {
    bottom: 65px;
}
#blue_red {
    bottom: 65px;
}

.texts {
    position: relative;

    left: 20px;
    bottom: 200px;
}

.texts h3 {
    position: relative;

    right: 31px;
}

.texts h1 {
    width: 200px;
    font-size: 26px;
    color: #29455F;
}
.price {
    position: relative;
    display: flex;

    bottom: 185px;

    float: right;
    right: 9px;
}

.price h3 {
    top: 4px;
    right: 5px;
}

.colors {
    position: relative;
    display: flex;

    bottom: 150px;
    left: 20px;
}

/* Selection Color */
    .select-color  input{
    display: none;
}

.select-color label {
    position: relative;
    top: 30px;
    right: 35px;
    margin-right: 15px;

    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 100%;
    line-height: 23px;
    cursor: pointer;
}

#green {
    background-color: #B5DB48;
}
#red {
    background: #FF3838;
}
#blue {
    background: #3864FF;
}
#black {
    background: #010929;
}
#purple {
    background: #6a21fc;
}
#orange {
    background: #ff6d38;
}

#green:checked ~ label[for="green"],
#red:checked ~ label[for="red"],
#blue:checked ~ label[for="blue"],
#black:checked ~ label[for="black"],
#purple:checked ~ label[for="purple"],
#orange:checked ~ label[for="orange"] {
    color: #ffffff;
    width: 21px;
    height: 21px;
    border: 1px solid #d3d3d3;
    top: 31px;
}

.sizes {
    position: relative;
    display: inline-flex;

    bottom: 110px;
    left: 20px;
}

/* Selection Size */
.select-size  input{
    display: none;
}

label {
    position: relative;
    top: 20px;
    right: 60px;
    margin-right: 10px;

    display: inline-block;
    width: 23px;
    height: 23px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    line-height: 23px;
    cursor: pointer
}

#t37:checked ~ label[for="t37"],
#t38:checked ~ label[for="t38"],
#t39:checked ~ label[for="t39"],
#t40:checked ~ label[for="t40"] {
    background: #B5DB48;
    color: #ffffff;
    border: none;
}


.buy {
    position: relative;
    display: flex;

    bottom: 160px;
    right: 20px;

    float: right ;
}

.btn-cart {
    width: 49px;
    height: 80px;

    border-radius: 16px;
    border: none;
    background: #B5DB48;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.btn-cart:hover {
    transform: scale(1.1);
}
.btn-cart:hover:active {
    background: #69bce9;
}

/* Tenis Verde */
#sg37:checked ~ label[for="sg37"],
#sg38:checked ~ label[for="sg38"],
#sg39:checked ~ label[for="sg39"],
#sg40:checked ~ label[for="sg40"] {
    background: #B5DB48;
    color: #ffffff;
    border: none;
}
/* Tenis Azul */
#sb37:checked ~ label[for="sb37"],
#sb38:checked ~ label[for="sb38"],
#sb39:checked ~ label[for="sb39"],
#sb40:checked ~ label[for="sb40"] {
    background: #B5DB48;
    color: #ffffff;
    border: none;
}

/* Tenis Vermelho */
#sr37:checked ~ label[for="sr37"],
#sr38:checked ~ label[for="sr38"],
#sr39:checked ~ label[for="sr39"],
#sr40:checked ~ label[for="sr40"] {
    background: #B5DB48;
    color: #ffffff;
    border: none;
}
/* Tenis Preto */
#tb37:checked ~ label[for="tb37"],
#tb38:checked ~ label[for="tb38"],
#tb39:checked ~ label[for="tb39"],
#tb40:checked ~ label[for="tb40"] {
    background: #B5DB48;
    color: #ffffff;
    border: none;
}
/* Tenis Roxo */
#tp37:checked ~ label[for="tp37"],
#tp38:checked ~ label[for="tp38"],
#tp39:checked ~ label[for="tp39"],
#tp40:checked ~ label[for="tp40"] {
    background: #B5DB48;
    color: #ffffff;
    border: none;
}

/* Tenis Laranja */
#to37:checked ~ label[for="to37"],
#to38:checked ~ label[for="to38"],
#to39:checked ~ label[for="to39"],
#to40:checked ~ label[for="to40"] {
    background: #B5DB48;
    color: #ffffff;
    border: none;
}

/* Cart */
.container-list {
    width: 100%;
    height: auto;

    margin-bottom: 100px;

    background-color: #fff;
    border-radius: 20px;

    padding: 50px;
}

.list-title {
    color: #fff;
    margin-bottom: 25px;
}

.container-list table {
    width: 60%;

    margin: 0 auto;
    margin-bottom: 30px;
}

.container-list table td{
    padding: 20px;
}

.container-list h3 {
    margin-bottom: 30px;
}

.cupom {
    display: inline-flex;
    line-height: 40px;
}

#buy-cupom {
    height: 15px;

    margin: 15px;
}

.btn-cupom {
    width: 100px;
    height: 40px;

    border-radius: 20px;
    border: none;
    background-color: #69bce9;

    font-size: 12px;

    color: #fff;
    text-transform: uppercase;
}

.btn-cupom:active {
    background-color: deeppink;
}

.payment-btn {
    width: 180px;
    height: 70px;

    border-radius: 40px;
    border: none;
    background-color: #69bce9;

    font-size: 18px;

    color: #fff;
    text-transform: uppercase;
}
.payment-btn:active {
    background-color: deeppink;
}

.cupons {
    margin-top: 20px;
}